Repository foolish-pine/my-snow-monkey-boilerplate: changes, and which lefthook commands are due for each by the changed paths.
All: 1_tsc, 2_eslint, 3_stylelint, 4_prettier, 5_phpcs, 6_phpcbf

lefthook.yml:

pre-commit:
    piped: true
    commands:
        1_tsc:
            glob: '*.ts'
            run: tsc --noEmit {staged_files}
        2_eslint:
            glob: '*.{js,cjs,mjs,ts}'
            run: ESLINT_USE_FLAT_CONFIG=true npx eslint --fix --quiet {staged_files}
        3_stylelint:
            glob: '*.css'
            run: npx stylelint --fix --quiet {staged_files}
        4_prettier:
            glob: '*.{js,cjs,mjs,ts,css,json,jsonc,yml,md}'
            run: npx prettier --write --log-level=error {staged_files}
        5_phpcs:
            glob: '*.php'
            run: composer lint {staged_files}
        6_phpcbf:
            glob: '*.php'
            run: composer format {staged_files}

first commit
  .browserslistrc
  .cache/.gitkeep
  .editorconfig
  .github/workflows/build.yml
  .github/workflows/verify.yml
  .gitignore
  .prettierignore
  .prettierrc
  .vscode/extensions.json
  .vscode/settings.json
  .wp-env.json
  README.md
  composer.json
  composer.lock
  eslint.config.js
  lefthook.yml
  my-snow-monkey.php
  package-lock.json
  package.json
  phpcs.xml.dist
  postcss.config.cjs
  renovate.json
  sql/env.sql
  src/scripts/index.ts
  src/styles/_heading2.css
  src/styles/style.css
  stylelint.config.cjs
  tsconfig.json
  vite.config.ts
Due: 1_tsc, 2_eslint, 3_stylelint, 4_prettier, 5_phpcs, 6_phpcbf

first commit
  .browserslistrc
  .cache/.gitkeep
  .editorconfig
  .eslintignore
  .eslintrc.js
  .github/workflows/build.yml
  .github/workflows/verify.yml
  .gitignore
  .prettierignore
  .prettierrc
  .stylelintignore
  .stylelintrc.json
  .vscode/extensions.json
  .vscode/settings.json
  .wp-env.json
  README.md
  composer.json
  composer.lock
  lefthook.yml
  my-snow-monkey.php
  package-lock.json
  package.json
  phpcs.xml.dist
  renovate.json
  sql/env.sql
  src/index.ts
  src/styles/_heading.scss
  src/styles/style.scss
  webpack.config.js
Due: 1_tsc, 2_eslint, 4_prettier, 5_phpcs, 6_phpcbf

chore: rip wp-scripts
  .eslintignore
  .eslintrc.js
  lefthook.yml
  package-lock.json
  package.json
  src/index.ts
  webpack.config.js
Due: 1_tsc, 2_eslint, 4_prettier

chore: add stylelint
  package-lock.json
  package.json
Due: 4_prettier

chore: use css
  .gitignore
  .prettierignore
  .stylelintignore
  .stylelintrc.json
  .vscode/extensions.json
  .vscode/settings.json
  lefthook.yml
  my-snow-monkey/heading.css
  my-snow-monkey/style.css
  package-lock.json
  package.json
  postcss.config.cjs
  src/styles/heading.css
  src/styles/style.css
  src/styles/style.scss
Due: 2_eslint, 3_stylelint, 4_prettier

chore: remove comment
  .editorconfig
Due: none

style: format
  phpcs.xml.dist
Due: none

chore: remove build
  .wp-env.json
  my-snow-monkey/my-snow-monkey.php
Due: 4_prettier, 5_phpcs, 6_phpcbf

chore: add browser-sync
  my-snow-monkey/heading.css
  my-snow-monkey/style.css
  package-lock.json
  package.json
  src/styles/heading.css
  src/styles/style.css
Due: 3_stylelint, 4_prettier

chore: tweak setting
  .wp-env.json
  sql/env.sql
Due: 4_prettier

chore: remove composer
  .cache/.gitkeep
  .editorconfig
  .github/workflows/verify.yml
  .gitignore
  .prettierignore
  .stylelintignore
  .vscode/extensions.json
  .vscode/settings.json
  composer.json
  composer.lock
  lefthook.yml
  package.json
  phpcs.xml.dist
Due: 4_prettier

chore: tweak lefthook
  lefthook.yml
Due: 4_prettier

chore: tweak stylelint
  .stylelintignore
  .stylelintrc.json
  .vscode/settings.json
  stylelint.config.cjs
Due: 2_eslint, 4_prettier

chore: empty sql
  sql/env.sql
Due: none

chore: tweak postcss
  package-lock.json
  package.json
  postcss.config.cjs
  src/styles/another.css
  src/styles/heading.css
  src/styles/style.css
Due: 2_eslint, 3_stylelint, 4_prettier

chore: remove stylelint-config-prettier
  package-lock.json
  package.json
  stylelint.config.cjs
Due: 2_eslint, 4_prettier

chore: temporarily remove @wordpress/stylelint-config
  package-lock.json
  package.json
  stylelint.config.cjs
Due: 2_eslint, 4_prettier

chore: update stylelint and stylelint-config-recess-order
  package-lock.json
  package.json
Due: 4_prettier

chore: reinstall @wordpress/stylelint-config
  package-lock.json
  package.json
  stylelint.config.cjs
Due: 2_eslint, 4_prettier

chore: update stylelint (#59)
  package-lock.json
  package.json
  stylelint.config.cjs
Due: 2_eslint, 4_prettier

chore: update stylelint config
  stylelint.config.cjs
Due: 2_eslint, 4_prettier

chore: remove snow monkey
  .gitignore
  .prettierignore
  .wp-env.json
Due: 4_prettier

chore: add composer
  .cache/.gitkeep
  .github/workflows/verify.yml
  .gitignore
  .prettierignore
  .vscode/extensions.json
  .vscode/settings.json
  composer.json
  composer.lock
  lefthook.yml
  phpcs.xml.dist
Due: 4_prettier

chore: update PHP version
  .wp-env.json
Due: 4_prettier

chore: remove sql
  .wp-env.json
  package.json
  sql/env.sql
Due: 4_prettier

chore: update composer PHP version
  composer.json
Due: 4_prettier

chore: tweak text
  .github/workflows/build.yml
Due: 4_prettier

refactor: merge actions
  .github/workflows/build.yml
  .github/workflows/ci.yml
  .github/workflows/verify.yml
Due: 4_prettier

chore: update renovate setting
  renovate.json
Due: 4_prettier

chore: update renovate setting (#113)
  renovate.json
Due: 4_prettier

chore: add timeout to actions job
  .github/workflows/ci.yml
Due: 4_prettier

chore: add timeout to actions job (#115)
  .github/workflows/ci.yml
Due: 4_prettier

chore: use volta-cli
  .github/workflows/ci.yml
Due: 4_prettier

chore: use volta-cli (#140)
  .github/workflows/ci.yml
Due: 4_prettier

chore: tweak npm scripts and lefthook config
  lefthook.yml
  package.json
Due: 4_prettier

chore: tweak npm scripts and lefthook config (#184)
  lefthook.yml
  package.json
Due: 4_prettier

chore: add Prettier --ignore-unknown option
  package.json
Due: 4_prettier
